.bodyback {
	MARGIN-TOP: 5px; MARGIN-LEFT: 5px; BACKGROUND-COLOR: rgb(180,180,180)
}
.bigtable {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: rgb(255,255,255)
}
.whitetable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: rgb(255,255,255)
}
.bannercell {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; TEXT-ALIGN: center
}
.lastbannercell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; TEXT-ALIGN: center
}
.menubuttontable {
	MARGIN-LEFT: 7px; MARGIN-RIGHT: 7px
}
.background_left {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; VERTICAL-ALIGN: top; COLOR: rgb(255,255,255); PADDING-TOP: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: rgb(220,220,220)
}
.lefttable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.leftcell {
	BORDER-TOP: rgb(255,255,255) 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px; BORDER-BOTTOM: rgb(160,160,160) 1px solid
}
.leftlastcell {
	BORDER-TOP: rgb(255,255,255) 1px solid; COLOR: rgb(220,220,220); HEIGHT: 5px
}
.maincell {
	PADDING-RIGHT: 20px; PADDING-LEFT: 25px; PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; WIDTH: 63%
}
.menubartable {
	BORDER-TOP: rgb(200,200,200) 2px solid; WIDTH: 100%; BORDER-BOTTOM: rgb(120,120,120) 2px solid; BACKGROUND-COLOR: rgb(200,0,0)
}
.menubarleftcell {
	PADDING-RIGHT: 6px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WIDTH: 20%; PADDING-TOP: 0px
}
.footertable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 7px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: rgb(255,255,255)
}
.footerbartable {
	BORDER-TOP: rgb(200,200,200) 2px solid; WIDTH: 100%; BORDER-BOTTOM: rgb(120,120,120) 2px solid; BACKGROUND-COLOR: rgb(200,0,0)
}
.footerbarcell {
	PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px
}
.footerrightcell {
	WIDTH: 24%
}
.rightcell {
	PADDING-RIGHT: 3px; VERTICAL-ALIGN: top; WIDTH: 19%; PADDING-TOP: 20px
}
.contenttable {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; WIDTH: 95%; PADDING-TOP: 2px; BORDER-BOTTOM: rgb(200,200,200) 2px solid
}
.contentcell {
	PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.boxtable {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: gray 1px solid; WIDTH: 98%; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px solid
}
.titletable {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: rgb(170,170,170)
}
.titleimagecell {
	VERTICAL-ALIGN: top; WIDTH: 145px; align: center
}
.background_tablehdr {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: white 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 3px; BORDER-LEFT: white 1px solid; COLOR: rgb(255,255,255); PADDING-TOP: 3px; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: rgb(20,20,150)
}
.normalcellbg {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: white 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: white 1px solid; COLOR: rgb(32,32,32); PADDING-TOP: 3px; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: rgb(230,230,240)
}
.bordercell {
	BORDER-RIGHT: white 2px solid; BORDER-TOP: white 2px solid; BORDER-LEFT: white 2px solid; BORDER-BOTTOM: white 2px solid
}
.tables {
	MARGIN: 15px 0px 20px; VERTICAL-ALIGN: top; WIDTH: 100%; BACKGROUND-COLOR: rgb(255,255,255)
}
.whitecell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
BODY {
	FONT-SIZE: x-small; MARGIN-BOTTOM: 10px; COLOR: #404040; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: x-small; MARGIN-BOTTOM: 10px; COLOR: #404040; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: x-small; MARGIN-BOTTOM: 10px; COLOR: #404040; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: x-small; MARGIN-BOTTOM: 10px; COLOR: #404040; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 16pt; COLOR: #000080; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 130%; COLOR: rgb(100,100,100); FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #496c91; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:active {
	COLOR: #e56757
}
A:link {
	FONT-WEIGHT: bold; COLOR: #245480; TEXT-DECORATION: none
}
LI {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: -15px
}
A.left:link {
	FONT-WEIGHT: bold; COLOR: #245480; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.left:hover {
	TEXT-DECORATION: underline
}
A.left:visited {
	FONT-WEIGHT: bold; COLOR: #496c91; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.left:active {
	FONT-WEIGHT: bold; COLOR: red
}
A.bannr:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.bannr:hover {
	TEXT-DECORATION: underline
}
A.bannr:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.bannr:active {
	FONT-WEIGHT: bold; COLOR: #ffffe0
}
.lefttitle {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 3px; COLOR: rgb(80,80,80); PADDING-TOP: 10px; BORDER-BOTTOM: gray 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sectiontitle {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 160%; COLOR: white; LINE-HEIGHT: 110%; MARGIN-RIGHT: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.titleimage {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid
}
.paratitle {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 125%; PADDING-BOTTOM: 1px; MARGIN: 2px 0px 0px; BORDER-LEFT: 1px solid; WIDTH: 100%; COLOR: rgb(80,80,80); BORDER-BOTTOM: 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 15px 0px -15px; COLOR: rgb(50,50,50); FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bannertext {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 105%; MARGIN-BOTTOM: 5px; COLOR: rgb(120,120,120); MARGIN-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.months {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 10px 0px 0px; WIDTH: 70%; COLOR: rgb(206,17,38); BORDER-BOTTOM: gray thin dotted; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sitemaptitle {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.lineheading {
	BORDER-TOP: gray 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 130%; MARGIN: 10px 0px 5px; WIDTH: 100%; COLOR: #404040; BORDER-BOTTOM: gray 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.question {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: -12px; COLOR: rgb(50,50,50); FONT-FAMILY: Arial, Helvetica, sans-serif
}
.indent {
	MARGIN-TOP: 7px; FONT-SIZE: 90%; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 18px
}
.smallcontent {
	MARGIN-TOP: 0px; FONT-SIZE: 90%; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 3px
}
.left {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: black; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bannr {
	FONT-WEIGHT: bold; COLOR: rgb(255,255,255); FONT-FAMILY: Arial, Helvetica, sans-serif
}
.small {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: x-small; PADDING-BOTTOM: 4px; COLOR: black; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.contentstitle {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 1px; WIDTH: 100%; COLOR: rgb(80,80,80); BORDER-BOTTOM: rgb(200,200,200) 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; font-width: 80%
}
.contentsright {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.boxtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; COLOR: rgb(80,80,80); FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: rgb(220,220,220); font-width: 90%
}
.quote {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN: 15px 5px 5px 0px; COLOR: rgb(180,40,40); LINE-HEIGHT: 100%; FONT-STYLE: italic; FONT-FAMILY: "Comic Sans MS", Arial, Helvetica, sans-serif; TEXT-ALIGN: center; font-width: 80%
}
.newstitle {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 5px 0px 0px; COLOR: #404040; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.summary {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 105%; MARGIN-BOTTOM: 5px; COLOR: rgb(90,90,90); MARGIN-RIGHT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.byline {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 20px; COLOR: rgb(80,80,80); MARGIN-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navbar {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; MARGIN: 10px 0px; COLOR: rgb(90,90,90); FONT-FAMILY: Arial, Helvetica, sans-serif
}
.search {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; COLOR: rgb(255,255,255); PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: rgb(240,240,240); FONT-FAMILY: Arial, Helvetica, sans-serif
}
.year {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: rgb(80,80,80)
}
